.title {
    color: red;
    background-color: aqua;
    padding: 50px;
}

h3 {
    color: blue;
    margin-left: 20px;
}

.input {
    margin-left: 30px;
    box-shadow: 2px 2px 3px gray;
}

.button {
    box-shadow: 2px 2px 3px gray;
}




