/* Sintassi Sass */

$primary-color: rgb(170, 218, 188);
$secondary-color:rgb(246, 218, 157);

/* definiamo un id come in CSS*/
#container {
    background-color: $primary-color;
    box-shadow: 5px 5px 5px rgb(92, 91, 91);

    div {
        padding: 50px;
    }
}

#media {
    background-color: $secondary-color;
    margin-left: 120px;
}

