/* FOGLIO DI STILE DEL VIDEOTEXT*/

.title {
    color:blueviolet;
    margin-left: 40px;
    text-shadow: 2px 2px 3px black;
}

.image {
    margin-left: 190px;
}


.author {
    color:brown;
}

.visual {
    color:gray;
    margin-left: 20px;
}

.titleUno {
    color:blue;
    margin-left: 15px;
}