/* FOGLIO DI STILE DEL VIDEOTEXT*/

.title {
    color:blueviolet;
    margin-left: 40px;
    text-shadow: 2px 2px 3px black;
}

.image {
    margin-left: 190px;
}


.author {
    color:brown;
}

.visual {
    color:gray;
    margin-left: 20px;
}

.titleUno {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:rgb(241, 241, 241);
    margin-left: 15px;
    text-shadow: 3px 3px 3px black;
}

 